/* General Styling for Profile Page */
.profile {
    padding: 5rem 10%;
    background-color: var(--main-color); 
    color: var(--black);
}

.profile h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.profile p {
    font-size: 1.4rem;
    color: var(--light-black);
    max-width: 800px;
    margin: 0 auto 2rem;
    text-align: center;
}

/* Profile Information */
.profile-details {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    margin-bottom: 2rem;
}

/* Profile Picture */
.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* Profile Table */
.profile-info {
    flex: 1;
    margin-left: 2rem;
}

.profile-table {
    width: 100%;
    border-collapse: collapse;
}

.profile-table th,
.profile-table td {
    padding: 10px;
    text-align: left;
    color: var(--black);
}

/* Update Profile Button */
.btn {
    display: inline-block;
    background-color: var(--tomato);
    color: var(--white);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 1rem;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 2rem;
}

.btn:hover {
    background-color: var(--black);
}

/* Bookings Table */
.user-bookings {
    margin-top: 2rem;
}

.user-bookings table {
    width: 100%;
    border-collapse: collapse;
}

.user-bookings th,
.user-bookings td {
    padding: 1rem;
    text-align: center;
}

.user-bookings th {
    color: var(--black);
}

.user-bookings td {
    background-color: #f4f4f4;
}

.user-bookings tr:nth-child(even) {
    background-color: #ddd;
}